* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #f0f0f0;
	font-size: 1rem;
}

h3 {
	font-weight: 600;
	text-align: center;
}

.calc-bmi-page {
	height: 100vh;
	padding: 3.5em 1.5em 0 1.5em;
}

/*
===========================
GENDER SECTION PROPERTIES
===========================
*/

.gender {
	margin-top: 1.75em;
	width: 100%;
	height: 20%;
}

.gender h5 {
	font-weight: 600;
}

.select-gender {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 1em;
}

.select-gender img {
	width: 40%;
	height: auto;
}

.male,
.female {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	background-color: white;
	border-radius: 0.5em;
	width: 45%;
	height: 65%;
}

/*
===========================
HEIGHT SECTION PROPERTIES
===========================
*/

.height {
	width: 100%;
	height: 15%;
}

.height-heading {
	display: flex;
	justify-content: space-between;
}

.height-input-container {
	width: 100%
}

.height-input input[type="text"] {
	width: 100%;
	padding: 1rem 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.5em;
	margin-top: 1em;
}

/*
================================
AGE & WEIGHT SECTION PROPERTIES
================================
*/

.age-weight-heading,
.age-weight-container {
	display: flex;
	gap: 1rem;
}

.age-heading,
.weight-heading,
.age-box,
.weight-box {
	flex: 1;
}

.weight-heading {
	display: flex;
	justify-content: space-between;
}

.age-box,
.weight-box {
	background-color: white;
	border-radius: 0.5em;
	padding: 0.8rem;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.age-box input[type="number"],
.weight-box input[type="number"] {
	width: 100%;
	border: none;
	text-align: center;
	font-size: 1.8rem;
}

.arrow-btns {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin-top: 1em;
}

.down-arrow,
.up-arrow {
	width: 3em;
	height: 3em;
	border-radius: 50%;
}

/*
===========================
CALCULATE SECTION PROPERTIES
===========================
*/

.calc-bmi-btn {
	width: 100%;
	height: 5%;
	margin-top: 15em;
	border: none;
	background-color: #8a84e2;
	color: white;
	font-weight: 600;
	border-radius: 0.5em;
}