* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #f0f0f0;
	font-size: 1rem;
}

h3 {
	font-weight: 600;
	text-align: center;
}

h5 {
	color: #9CA3AF
}

.calc-bmi-page {
	height: 100vh;
	padding: 3.5em 1.5em 0 1.5em;
}

.hidden {
	display: none;
}

/*
===========================
GENDER SECTION PROPERTIES
===========================
*/

.gender {
	margin-top: 1.75em;
	width: 100%;
	height: 20%;
}

.gender h5 {
	font-weight: 600;
}

.select-gender {
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-top: 1em;
}

.select-gender img {
	width: 40%;
	height: auto;
}

.male,
.female {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	background-color: white;
	border-radius: 0.5em;
	width: 45%;
	height: 65%;
}

/* #male-img,
#female-img {
	fill: #8a84e2;
} */

/*
===========================
HEIGHT SECTION PROPERTIES
===========================
*/

.height {
	width: 100%;
	height: 15%;
}

.height-heading {
	display: flex;
	justify-content: space-between;
}

.height-input-container {
	width: 100%
}

.height-input input[type="number"] {
	width: 100%;
	padding: 1rem 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.5em;
	margin-top: 1em;
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	color: #4a5859;
}

/*
================================
AGE & WEIGHT SECTION PROPERTIES
================================
*/

.age-weight-heading,
.age-weight-container {
	display: flex;
	gap: 1rem;
}

.age-heading,
.weight-heading,
.age-box,
.weight-box {
	flex: 1;
}

.age-heading {
	margin-top: 1em;
}

.weight-heading {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

.age-box,
.weight-box {
	background-color: white;
	border-radius: 0.5em;
	padding: 0.8rem;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.age-box input[type="number"],
.weight-box input[type="number"] {
	width: 100%;
	border: none;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	color: #4a5859;
}

.arrow-btns {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin-top: 1em;
}

.down-arrow,
.up-arrow {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: none;
	color: #8a84e2;
	background-color: #d6d3f8;
}

/*
===========================
CALCULATE SECTION PROPERTIES
===========================
*/

.calc-bmi-btn {
	width: 100%;
	height: 5%;
	margin-top: 15em;
	border: none;
	background-color: #8a84e2;
	color: white;
	font-weight: 600;
	border-radius: 0.5em;
}

/*
=============================
RESULTS BMI PAGE PROPERTIES
=============================
*/

.results-bmi-page {
	height: 100vh;
	padding: 3.5em 1.5em 0 1.5em;
}

.result {
	width: 100%;
	height: 20%;
	margin-top: 1.75em;
}

.result-display {
	background-color: white;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5em;
	margin-top: 1em;
	position: relative;
}

.result-display img {
	width: 70%;
	height: 120%;
	position: absolute;
}

.bmi-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
	color: white;
}

.bmi-text p {
	font-size: 0.5rem;
}

.bmi-text h3 {
	font-size: 2rem;
}

/*
=============================
DETAILED RESULTS PROPERTIES
=============================
*/

.detailed-results {
	margin-top: 3em;
}

.details {
	background-color: white;
	border-radius: 0.5em;
	padding: 0.4em;
	margin-top: 0.5em;
}

.details p {
	font-weight: 510;
	font-size: 0.5rem;
}

/*
=============================
RESULTS INFO PROPERTIES
=============================
*/

.results-info {
	margin-top: 1em;
	height: 25%;
}

.info {
	display: grid;
	grid-template-columns: 1fr 1fr auto;
	align-items: center;

	background-color: white;
	margin-bottom: 0.5em;
	border-radius: 0.4em;
	width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.info p {
	font-size: 0.5rem;
	font-weight: 510;
	margin: 0
}

.info img {
	width: 1.8em;
}

.edit-info-btn {
	width: 100%;
	height: 5%;
	margin-top: 4em;
	border: none;
	background-color: #8a84e2;
	color: white;
	font-weight: 600;
	border-radius: 0.5em;
}